<!DOCTYPE html>
<html>
  <head>
    <title>Langston's Resume</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            padding: 0 15%; /* Adjust the percentage as needed */
            box-sizing: border-box; /* This ensures that padding is included in the total width */
        }

    </style>
  </head>
  <body>
    <header class="text-2xl font-bold py-4 p-4 flex justify-between items-center">
        <div>
            Langston Denning
        </div>
        <div>
            <a href="home.html" class="text-blue-500 hover:underline">home</a>
        </div>
    </header>
    <div class="bg-white">
        <div class="overflow-x-auto border-x border-t">
            <table class="table-auto w-full">
                <thead class="border-b">
                    <tr class="bg-gray-100">
                        <th class="text-left p-4 font-medium" colspan="3">
                        Education
                        </th>
                        <th class="text-left p-4 font-medium">
                        CGPA
                        </th>
                        <th class="text-left p-4 font-medium">
                        Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b hover:bg-gray-50">
                        <td class="p-4" colspan="3">
                        University of Colorado, Boulder 
                        </td>
                        <td class="p-4">
                        3.88
                        </td>
                        <td class="p-4">
                        Expected 2026
                        </td>
                    </tr>
                    <tr class="border-b hover:bg-gray-50">
                        <td class="p-4" colspan="3">
                        North Gwinnett High school
                        </td>
                        <td class="p-4">
                        4.0
                        </td>
                        <td class="p-4">
                        2022
                        </td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="text-left p-4 font-medium" colspan="4">
                        Engineering Experience
                        </th>
                        <th class="text-left p-4 font-medium">
                        Year
                        </th>
                    </tr>
                    <tr>
                        <td class="p-4 font-bold" colspan="4">
                        Data Analyst at Thinkware/Larkin
                        </td>
                        <td class="p-4">
                        Summer 2023
                        </td>
                    </tr>
                    <tr class="border-b">
                        <td class="p-4" colspan="5">
                            Updated outdated reports from web-based data queries to direct SQL queries.
                            First-hand experience working with back-end software development.
                            In charge of managing and teaching a small group of other interns.
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4 font-bold" colspan="4">
                        Tutor at Ace Tutors
                        </td>
                        <td class="p-4">
                        Fall 2022-present
                        </td>
                    </tr>
                    <tr class="border-b">
                        <td class="p-4" colspan="5">
                            Work with students to cultivate a healthy learning environment. I tutor Computer Science, Chemistry, and Calculus.
                        </td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="text-left p-4 font-medium" colspan="5">
                        Leadership Experience
                        </th>
                    </tr>
                    <tr>
                        <td class="p-4" colspan="4">
                        Team Lead at Annandale Village
                        </td>
                    </tr>
                    <tr class="border-b">
                        <td class="p-4" colspan="5">
                            Built a fence to protect a water main from trucks.
                            Worked with the client to exceed their standards and finish on time and under budget.                         
                        </td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="text-left p-4 font-medium" colspan="5">
                        Student Affiliations
                        </th>
                    </tr>
                    <tr>
                        <td class="p-4" colspan="5">
                            CU GOLD (Gaining Opportunities through Leadership Development).
                        </td>
                    </tr>
                    <tr>
                        <td class="p-4" colspan="5">
                            CU Recreational Sports- Broomball, Hockey, Water Polo, Volleyball.
                        </td>
                    </tr>
                    <tr class="border-b">
                        <td class="p-4" colspan="5">
                            CU Garden Club- Taking care of community gardens and volunteering at local farms.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>